<div class="data-table-wrap">
  <p-table
    #dt
    [value]="data()"
    [columns]="config().columns"
    [loading]="loading()"
    [paginator]="paginator()"
    [rows]="rows()"
    [totalRecords]="totalRecords()"
    [showCurrentPageReport]="true"
    currentPageReportTemplate="من {first} إلى {last} من أصل {totalRecords}"
    [rowsPerPageOptions]="rowsPerPageOptions()"
    [globalFilterFields]="globalFilterFields()"
    [lazy]="lazy()"
    [styleClass]="'p-datatable-sm compact-table'"
    [tableStyle]="{ 'min-width': '50rem' }"
    [selectionMode]="selectionMode() ?? undefined"
    [dataKey]="'id'"
    [selection]="selectedItems()"
    (selectionChange)="onSelectionChange($event)"
    (onRowSelect)="onRowSelectEvent($event)"
    (onRowUnselect)="onRowUnselectEvent($event)"
    (onLazyLoad)="onLazyLoadEvent($event)"
    (onSort)="onSortEvent($event)"
    (onFilter)="onFilterEvent($event)"
    (onPage)="onPageEvent($event)"
    [stripedRows]="stripedRows()"
    [rowHover]="rowHover()"
  >
    <ng-template pTemplate="caption">
      <div class="toolbar">
        <div class="toolbar-left">
          @if (showGlobalFilter()) {
            <div class="search-box">
              <i class="pi pi-search search-ico"></i>
              <input
                pInputText
                type="text"
                class="search-input"
                [placeholder]="globalFilterPlaceholder()"
                [value]="searchValue()"
                (input)="onGlobalSearch($event)"
              />
            </div>
          }
        </div>
        <div class="toolbar-right">
          @if (exportable()) {
            <button
              pButton
              type="button"
              icon="pi pi-download"
              class="p-button-sm p-button-text export-btn"
              pTooltip="تصدير"
              tooltipPosition="top"
              (click)="onExportClick()"
            ></button>
          }
          <ng-content select="[toolbar]" />
        </div>
      </div>
    </ng-template>

    <ng-template pTemplate="header" let-columns>
      <tr>
        @if (selectionMode()) {
          <th style="width:3rem">
            @if (selectionMode() === 'multiple') {
              <p-tableHeaderCheckbox />
            }
          </th>
        }
        @if (expandable()) {
          <th style="width:3rem"></th>
        }
        @if (actionsPosition() === 'start' && hasActions()) {
          <th class="actions-th"><span class="sr-only">إجراءات</span></th>
        }
        @for (col of columns; track col.field) {
          <th
            [pSortableColumn]="col.sortable ? col.field : ''"
            [style]="{ width: col.width || 'auto' }"
          >
            <div class="th-content">
              <span>{{ col.header }}</span>
              @if (col.sortable) {
                <p-sortIcon [field]="col.field" />
              }
            </div>
          </th>
        }
        @if (actionsPosition() === 'end' && hasActions()) {
          <th class="actions-th"><span class="sr-only">إجراءات</span></th>
        }
      </tr>
    </ng-template>

    <ng-template pTemplate="filter" let-columns>
      <tr>
        @if (selectionMode()) {
          <th></th>
        }
        @if (expandable()) {
          <th></th>
        }
        @if (actionsPosition() === 'start' && hasActions()) {
          <th></th>
        }
        @for (col of columns; track col.field) {
          <th>
            @if (col.filterable) {
              <p-columnFilter
                [type]="col.type ?? 'text'"
                [field]="col.field"
                display="menu"
                class="column-filter"
              />
            }
          </th>
        }
        @if (actionsPosition() === 'end' && hasActions()) {
          <th></th>
        }
      </tr>
    </ng-template>

    <ng-template pTemplate="body" let-rowData let-columns="columns">
      <tr>
        @if (selectionMode()) {
          <td>
            @if (selectionMode() === 'multiple') {
              <p-tableCheckbox [value]="rowData" />
            }
          </td>
        }
        @if (expandable()) {
          <td>
            <button
              pButton
              type="button"
              icon="pi pi-chevron-down"
              class="p-button-sm p-button-text p-button-rounded expand-btn"
              (click)="dt.toggleRow(rowData)"
            ></button>
          </td>
        }
        @if (actionsPosition() === 'start' && hasActions()) {
          <td class="actions-cell">
            @for (act of getVisibleActions(rowData); track act.label) {
              <button
                pButton
                type="button"
                [icon]="act.icon || 'pi pi-cog'"
                [pTooltip]="act.label"
                tooltipPosition="top"
                [severity]="act.severity ?? 'secondary'"
                [text]="true"
                [size]="'small'"
                [disabled]="isActionDisabled(act, rowData)"
                class="action-btn"
                (click)="onActionClick(act, rowData)"
              ></button>
            }
            @if (actionTemplate()) {
              <ng-container [ngTemplateOutlet]="actionTemplate()!" [ngTemplateOutletContext]="{ $implicit: rowData }" />
            }
          </td>
        }
        @for (col of columns; track col.field) {
          <td>{{ rowData[col.field] }}</td>
        }
        @if (actionsPosition() === 'end' && hasActions()) {
          <td class="actions-cell">
            @for (act of getVisibleActions(rowData); track act.label) {
              <button
                pButton
                type="button"
                [icon]="act.icon || 'pi pi-cog'"
                [pTooltip]="act.label"
                tooltipPosition="top"
                [severity]="act.severity ?? 'secondary'"
                [text]="true"
                [size]="'small'"
                [disabled]="isActionDisabled(act, rowData)"
                class="action-btn"
                (click)="onActionClick(act, rowData)"
              ></button>
            }
            @if (actionTemplate()) {
              <ng-container [ngTemplateOutlet]="actionTemplate()!" [ngTemplateOutletContext]="{ $implicit: rowData }" />
            }
          </td>
        }
      </tr>
    </ng-template>

    <ng-template pTemplate="rowexpansion" let-rowData>
      @if (expandable() && expandTemplate()) {
        <ng-container [ngTemplateOutlet]="expandTemplate()!" [ngTemplateOutletContext]="{ $implicit: rowData }" />
      }
    </ng-template>

    <ng-template pTemplate="loadingbody" let-columns="columns">
      @for (row of skeletonRows; track row) {
        <tr>
          @if (selectionMode()) {
            <td><p-skeleton width="1.25rem" height="1.25rem" /></td>
          }
          @if (expandable()) {
            <td><p-skeleton width="1.25rem" height="1.25rem" /></td>
          }
          @if (actionsPosition() === 'start' && hasActions()) {
            <td><p-skeleton width="2rem" height="1.25rem" /></td>
          }
          @for (col of columns; track col.field) {
            <td><p-skeleton width="100%" height="1.25rem" /></td>
          }
          @if (actionsPosition() === 'end' && hasActions()) {
            <td><p-skeleton width="2rem" height="1.25rem" /></td>
          }
        </tr>
      }
    </ng-template>

    <ng-template pTemplate="emptymessage" let-columns="columns">
      <tr>
        <td
          [attr.colspan]="getColspan(columns)"
          class="empty-cell"
        >
          <div class="empty-msg">
            <i class="pi pi-inbox empty-icon"></i>
            <span>{{ emptyMessage() }}</span>
          </div>
        </td>
      </tr>
    </ng-template>
  </p-table>
</div>
