<div class="datepicker-wrap">
  <p-datePicker
    [selectionMode]="selectionMode()"
    [dateFormat]="dateFormat()"
    [placeholder]="placeholder()"
    [showIcon]="showIcon()"
    [icon]="icon()"
    [readonlyInput]="readonlyInput()"
    [showButtonBar]="showButtonBar()"
    [showClear]="showClear()"
    [showTime]="showTime()"
    [timeOnly]="timeOnly()"
    [hourFormat]="hourFormat()"
    [showOtherMonths]="showOtherMonths()"
    [selectOtherMonths]="selectOtherMonths()"
    [showOnFocus]="showOnFocus()"
    [numberOfMonths]="numberOfMonths()"
    [touchUI]="touchUI()"
    [inline]="inline()"
    [minDate]="minDate()"
    [maxDate]="maxDate()"
    [styleClass]="styleClass()"
    [disabled]="disabled()"
    [ngModel]="value()"
    (ngModelChange)="onValueChange($event)"
    (onBlur)="onBlur()"
  />
</div>
