<div class="dropdown-wrap">
  <p-select
    [options]="options()"
    [optionLabel]="optionLabel()"
    [optionValue]="optionValue()"
    [optionDisabled]="optionDisabled()"
    [placeholder]="placeholder()"
    [filter]="filter()"
    [showClear]="showClear()"
    [loading]="loading()"
    [editable]="editable()"
    [readonly]="readonly()"
    [dataKey]="dataKey()"
    [emptyMessage]="emptyMessage()"
    [emptyFilterMessage]="emptyFilterMessage()"
    [checkmark]="checkmark()"
    [resetFilterOnHide]="resetFilterOnHide()"
    [selectOnFocus]="selectOnFocus()"
    [autoOptionFocus]="autoOptionFocus()"
    [filterMatchMode]="filterMatchMode()"
    [virtualScroll]="virtualScroll()"
    [virtualScrollItemSize]="virtualScrollItemSize()"
    [styleClass]="styleClass()"
    [disabled]="disabled()"
    [ngModel]="value()"
    (ngModelChange)="onValueChange($event)"
    (onBlur)="onBlur()"
  />
</div>
